﻿@{
    ViewBag.Title = "About";
}

<hgroup class="post">
    <h1>@ViewBag.Title.</h1>
    <h2>Curve inspired template for ASP.NET MVC4 projects</h2>
</hgroup>

<section class="post">
    <header>
        <h3>About this template</h3>
    </header>
    <p>
        This template was inspired by the Curve template from <a href="http://chocotemplates.com/corporate/curve/">chocotemplates.com</a>. Their description is below.
    </p>
    <p>Free CSS template perfectly optimized for tablets and mobile phones. Curve is a creative website template that will suit a wide range of uses such as business, personal and portfolio websites. We have tested the responsive template on all major web browsers (IE, Firefox, Opera, Safari, Chrome) Moreover, we made sure that the responsive template works good on tablets and mobile devices based on iOs, Android and Windows Mobile. So, go ahead and download our free responsive template now! Just don’t remove the backlink to our website in order to stick with the free license.
    </p>
</section>
<section class="post">
    <header>
        <h3>Template Features</h3>
    </header>
    <ul>
        <li>jQuery carousel</li>
        <li>Responsive layout for tablets and mobile devices</li>
        <li>Properly commented code</li>
        <li>Valid HTML3/CSS3 markup</li>
        <li>Tested on PC, Mac, and mobile devices</li>
    </ul>
</section>
<hr style="clear:both" />