﻿<div class="slider-holder">
    <span class="slider-shadow"></span>
    <span class="slider-b"></span>
    <div class="slider flexslider">
        <ul class="slides">
            <li>
                <div class="img-holder">
                    <img src="~/content/images/slide-img1.png" alt="" />
                </div>
                <div class="slide-cnt">
                    <h2>Feature 1</h2>
                    <div class="box-cnt">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget augue quis lorem ipsum dolor sit amet, consectetur adipiscing elit. llus eget augue quis lorem ipsum dolor sit amet, free css templates</p>
                    </div>
                    <a href="#" class="grey-btn">request a demo</a>
                </div>
            </li>
            <li>
                <div class="img-holder">
                    <img src="~/content/images/slide-img2.png" alt="" />
                </div>
                <div class="slide-cnt">
                    <h2>Feature 2</h2>
                    <div class="box-cnt">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget augue quis lorem ipsum dolor sit amet, consectetur adipiscing elit. llus eget augue quis lorem ipsum dolor sit amet, free css templates</p>
                    </div>
                    <a href="#" class="grey-btn">request a demo</a>
                </div>
            </li>
            <li>
                <div class="img-holder">
                    <img src="~/content/images/slide-img1.png" alt="" />
                </div>
                <div class="slide-cnt">
                    <h2>Feature 3</h2>
                    <div class="box-cnt">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget augue quis lorem ipsum dolor sit amet, consectetur adipiscing elit. llus eget augue quis lorem ipsum dolor sit amet, free css templates</p>
                    </div>
                    <a href="#" class="grey-btn">request a demo</a>
                </div>
            </li>
        </ul>
    </div>
</div>
