﻿<!DOCTYPE html>
<html lang="en" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" />
	<title>Curve Template for ASP.NET MVC4</title>
	<link rel="shortcut icon" type="image/x-icon" href="~/content/images/favicon.ico" />
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500,700' rel='stylesheet' type='text/css' />
	@Styles.Render("~/Content/css", "~/Content/themes/base/css")
	@Scripts.Render("~/bundles/jquery", "~/bundles/jqueryui", "~/bundles/jqueryval", "~/bundles/modernizr")
	<script type="text/javascript" src="~/Scripts/functions.js"></script>
	@RenderSection("styles", false)
	@RenderSection("scripts", false)
</head>
<body>
	<!-- wraper -->
	<div id="wrapper">
		<!-- shell -->
		<div class="shell">
			<!-- container -->
			<div class="container">
				<!-- header -->
				<header id="header">
					<h1 id="logo"><a href="~/">My Site</a></h1>
					<!-- search -->
					<div class="search">
						<form method="post">
							<span class="field"><input type="text" class="field" value="keywords here ..." title="keywords here ..." /></span>
							<input type="submit" class="search-btn" value="" />
						</form>
					</div>
					<!-- end of search -->
				</header>
				<!-- end of header -->
				<!-- navigation -->
				<nav id="navigation">
					<a href="#" class="nav-btn">HOME<span class="arr"></span></a>
					<ul>
						<li>@Html.ActionLink("HOME", "Index", "Home")</li>
						<li>@Html.ActionLink("ABOUT", "About", "Home")</li>
						<li>@Html.ActionLink("CONTACT", "Contact", "Home")</li>
					</ul>
				</nav>
				<!-- end of navigation -->
				<!-- slider -->
				<div class="m-slider">
					@RenderSection("slider", false)
				</div>		
				<!-- end of slider -->
				<!-- main -->
				<div class="main">
					@RenderBody()
				</div>
				<!-- end of main -->
				<div class="socials">
					<div class="socials-inner">
						<h3>Follow us</h3>
						<ul>
							<li><a href="#" class="facebook-ico"><span></span>Facebook</a></li>
							<li><a href="#" class="twitter-ico"><span></span>Twitter</a></li>
							<li><a href="#" class="rss-feed-ico"><span></span>Rss-feed</a></li>
							<li><a href="#" class="myspace-ico"><span></span>myspace</a></li>
							<li><a href="#" class="john-doe-123-ico"><span></span>john.doe.123</a></li>
						</ul>
						<div class="cl">&nbsp;</div>
					</div>
				</div>
				<div id="footer">
					<div class="footer-cols">
						<div class="col">
							<h2>Services</h2>
							<ul>
								<li><a href="#">Web Design</a></li>
								<li><a href="#">Branding</a></li>
								<li><a href="#">Seo Optimization</a></li>
								<li><a href="#">Mobile App Development</a></li>
							</ul>
						</div>
						<div class="col">
							<h2>Projects</h2>
							<ul>
								<li><a href="#">Lorem ipsum dolor </a></li>
								<li><a href="#">Consectetuer adipiscing</a></li>
								<li><a href="#">Proin sed odio et ante </a></li>
								<li><a href="#">Mazim sensibus et usu</a></li>
							</ul>
						</div>
						<div class="col">
							<h2>Solutions</h2>
							<ul>
								<li><a href="#">Lorem ipsum dolor</a></li>
								<li><a href="#">Consectetuer adipiscing</a></li>
								<li><a href="#">Proin sed odio et ante </a></li>
								<li><a href="#">Mazim sensibus et usu</a></li>
							</ul>
						</div>
						<div class="col">
							<h2>Partners</h2>
							<ul>
								<li><a href="#">Company Name 1</a></li>
								<li><a href="#">Company Name 2</a></li>
								<li><a href="#">Company Name 3</a></li>
								<li><a href="#">Company Name 4</a></li>
							</ul>
						</div>
						<div class="cl">&nbsp;</div>
					</div>
					<!-- end of footer-cols -->
					<div class="footer-bottom">
						<nav class="footer-nav">
							<ul>
								<li class="active"><a href="#">Home</a></li>
								<li><a href="#">Services</a></li>
								<li><a href="#">Projects</a></li>
								<li><a href="#">Solutions</a></li>
								<li><a href="#">Jobs</a></li>
								<li><a href="#">Blog</a></li>
								<li><a href="#">Contacts</a></li>
							</ul>
						</nav>
						<p class="copy">&copy; Copyright @DateTime.Today.Year @Request.Url.Host <span>|</span> <strong>Design by <a href="http://chocotemplates.com" target="_blank">ChocoTemplates.com</a></strong></p>
						<div class="cl">&nbsp;</div>
					</div>
				</div>
			</div>
			<!-- end of container -->	
		</div>
		<!-- end of shell -->	
	</div>
	<!-- end of wrapper -->
</body>
</html>